[proxmox]
meltdown.private.vtluug.org
spectre.private.vtluug.org
phantomphreak.private.vtluug.org

[debian:children]
nfs-main
nfs-backup
hpc
freeipa
web
shell
log
jitsi
emby
mirror
syncthing
tahoe-lafs
wargame
map

[nfs-main]
cyberdelia.private.vtluug.org

[nfs-backup]
dirtycow.private.vtluug.org
shellshock.private.vtluug.org

[hpc]
wood.private.vtluug.org

[freeipa]
chimera.private.vtluug.org

[web]
sczi.private.vtluug.org

[shell]
acidburn.vtluug.org

[log]
theplague.private.vtluug.org

[jitsi]
holeybeep.private.vtluug.org

[emby]
emby.private.vtluug.org

[mirror]
mirror.private.vtluug.org

[syncthing]
zerocool.private.vtluug.org

[tahoe-lafs]
crashoverride.private.vtluug.org

[wargame]
wargame.private.vtluug.org

[map]
map.private.vtluug.org
