---
- name: Create new VMs (meltdown)
  shell: |
    virt-builder \
        {{ item.os }} \
        --hostname {{ item.hostname }} \
        --size 10G \
        --format qcow2 \
        --output /nfs/cistern/libvirt/images/meltdown/{{ item.hostname }}.qcow2 \
        --firstboot-command 'usermod -p {{ root_pass_hash | replace('$', '\$') }} root; useradd -m -p {{ admin_pass_hash | replace('$', '\$') }} -G {{ item.admins }} -s /bin/bash papatux; systemctl disable firewalld; systemctl disable apparmor; dpkg-reconfigure openssh-server; sed -i "s/SELINUX=enforcing/SELINUX=disabled/" /etc/selinux/config; sed -i "s/#Port 22/Port 22\nPort 2222/" /etc/ssh/sshd_config; sed -i "s/ens2/ens3/" /etc/netplan/01-netcfg.yaml; reboot' \
    && \
    virt-install \
        --import \
        --name {{ item.hostname }} \
        --vcpus {{ item.cpus }} \
        --ram {{ item.ram }} \
        --network bridge=br0,mac={{ item.mac }} \
        --disk path=/nfs/cistern/libvirt/images/meltdown/{{ item.hostname }}.qcow2,format=qcow2 \
        --os-variant {{ item.variant }} \
        --autostart \
        --graphics spice \
        --noautoconsole
  args:
      creates: '/nfs/cistern/libvirt/images/meltdown/{{ item.hostname }}.qcow2'
  with_items: "{{ new_vms_meltdown }}"
  when:
    - inventory_hostname == 'meltdown.vtluug.org'
    - new_vms_meltdown is not none

- name: Create new VMs (spectre)
  shell: |
    virt-builder \
        {{ item.os }} \
        --hostname {{ item.hostname }} \
        --size 10G \
        --format qcow2 \
        --output /nfs/cistern/libvirt/images/spectre/{{ item.hostname }}.qcow2 \
        --firstboot-command 'usermod -p {{ root_pass_hash | replace('$', '\$') }} root; useradd -m -p {{ admin_pass_hash | replace('$', '\$') }} -G {{ item.admins }} -s /bin/bash papatux; systemctl disable firewalld; systemctl disable apparmor; dpkg-reconfigure openssh-server; sed -i "s/SELINUX=enforcing/SELINUX=disabled/" /etc/selinux/config; sed -i "s/#Port 22/Port 22\nPort 2222/" /etc/ssh/sshd_config; sed -i "s/ens2/ens3/" /etc/netplan/01-netcfg.yaml; reboot' \
    && \
    virt-install \
        --import \
        --name {{ item.hostname }} \
        --vcpus {{ item.cpus }} \
        --ram {{ item.ram }} \
        --network bridge=br0,mac={{ item.mac }} \
        --disk path=/nfs/cistern/libvirt/images/spectre/{{ item.hostname }}.qcow2,format=qcow2 \
        --os-variant {{ item.variant }} \
        --autostart \
        --graphics spice \
        --noautoconsole
  args:
      creates: '/nfs/cistern/libvirt/images/spectre/{{ item.hostname }}.qcow2'
  with_items: "{{ new_vms_spectre }}"
  when:
    - inventory_hostname == 'spectre.vtluug.org'
    - new_vms_spectre is not none
