TYPE=Ethernet
PROXY_METHOD=none
BROWSERONLY=no
BOOTPROTO=none
IPADDR={{ ip }}
NETMASK=255.255.0.0
GATEWAY=10.98.0.1
DNS1=10.98.0.1
DNS2=198.82.247.66
DEFROUTE=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=ens18
ONBOOT=yes
AUTOCONNECT_PIORITY=-999
DEVICE=ens18
